.containers{
  margin: 15px;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 10px;
  font-size: 1.5em;
}

label{
  font-size: 1.5em;
}

select{
  padding: 15px;
  font-size: 1.5em;
}

.button{
  background-color: #39A900;
  margin-left: 200px;
}